node_modules/
dist/
.vite/
*.log
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
!.env.example

urbanchoesfront/node_modules/
urbanchoesfront/dist/
urbanchoesfront/.env

urbanchoesback/node_modules/
urbanchoesback/dist/
urbanchoesback/.env
